In [86]:
import csv
import random
import pandas as pd
import numpy as np

In [87]:
df

,seic_benefit,health,health_benefit,house,house_benefit,nutrition,nutrition_benefit,livelihood,livelihood_benefit,education,education_benefit,scheme1,scheme1_benefit,scheme2,scheme2_benefit,seic
0,12808,58,12375,65,49114,10,75542,10,71753,42,10831,70,Eligible,88,Eligible,37.0
1,69677,100,23933,33,79399,34,40346,98,9444,76,77409,79,Non-Eligible,49,Eligible,68.2
2,16903,55,40284,83,28046,61,17396,81,58713,83,75508,71,Eligible,47,Non-Eligible,72.6
3,35696,40,37356,100,38886,73,59046,42,90034,71,24346,21,Eligible,69,Non-Eligible,65.2
4,66507,100,70600,57,53115,65,32088,100,93251,83,70920,73,Eligible,28,Eligible,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,28492,84,32255,43,62966,97,16134,62,91082,43,13825,42,Non-Eligible,48,Eligible,65.8
496,35573,43,25476,61,46178,52,54765,33,10648,59,52504,98,Eligible,43,Eligible,49.6
497,6940,76,60256,46,17900,45,75069,21,68586,44,51575,58,Eligible,86,Non-Eligible,46.4
498,38873,99,40842,88,50444,94,10407,90,53710,48,60860,85,Eligible,33,Non-Eligible,83.8
499,28361,32,9608,57,31522,82,21484,89,83063,66,32877,72,Non-Eligible,55,Non-Eligible,65.2

In [88]:
seic_benefit_list = []

health_list = []
health_benefit_list = []

house_list = []
house_benefit_list =[]

nutrition_list = []
nutrition_benefit_list = []

livelihood_list = []
livelihood_benefit_list = []

education_list= []
education_benefit_list = []

scheme1_list = []
scheme1_benefit_list = []

scheme2_list =[]
scheme2_benefit_list = []

scheme_choice = ["Eligible" , "Non-Eligible"]

for i in range(0,500):
    seic_benefit = random.randint(0,100000)
    seic_benefit_list.append(seic_benefit)
    
    health = random.randint(20,100)
    health_list.append(health)
    
    health_benefit = random.randint(0,80000)
    health_benefit_list.append(health_benefit)
    
    house = random.randint(30,100)
    house_list.append(house)
    
    house_benefit = random.randint(5000,80000)
    house_benefit_list.append(house_benefit)
    
    
    nutrition = random.randint(10,100)
    nutrition_list.append(nutrition)
    
    
    nutrition_benefit = random.randint(9000,80000)
    nutrition_benefit_list.append(nutrition_benefit)
    
    
    livelihood = random.randint(0,100)
    livelihood_list.append(livelihood)
    
    livelihood_benefit = random.randint(0,100000)
    livelihood_benefit_list.append(livelihood_benefit)

    
    education = random.randint(40,100)
    education_list.append(education)
    
    education_benefit= random.randint(0,80000)
    education_benefit_list.append(education_benefit)
    
    
    scheme1 = random.randint(20,100)
    scheme1_list.append(scheme1)
    
    scheme1_benefit = random.choice(scheme_choice)
    scheme1_benefit_list.append(scheme1_benefit)
    
    scheme2=  random.randint(10,100)
    scheme2_list.append(scheme2)

    scheme2_benefit= random.choice(scheme_choice)
    scheme2_benefit_list.append(scheme2_benefit)
    
    
dict = { "seic_benefit" : seic_benefit_list,
        "health" :health_list ,
        "health_benefit" : health_benefit_list,
       "house": house_list,
       "house_benefit" : house_benefit_list,
       "nutrition" : nutrition_list,
        "nutrition_benefit" :nutrition_benefit_list,
        "livelihood": livelihood_list,
        "livelihood_benefit" : livelihood_benefit_list,
        "education" : education_list,
        "education_benefit" : education_benefit_list,
        "scheme1" : scheme1_list,
        "scheme1_benefit" : scheme1_benefit_list,
        "scheme2" : scheme2_list,
        "scheme2_benefit" : scheme2_benefit_list
       }

df = pd.DataFrame(dict)

df.shape

(500, 15)

In [89]:
seic = list(range(500))

for i in range(500):
    seic[i] = ((health_list[i] + house_list[i] + nutrition_list[i] + livelihood_list[i] + education_list[i] )/5)
    
len(seic)

500

In [90]:
df["seic"] = seic

len(df)

500

In [94]:
df.head()

,seic_benefit,health,health_benefit,house,house_benefit,nutrition,nutrition_benefit,livelihood,livelihood_benefit,education,education_benefit,scheme1,scheme1_benefit,scheme2,scheme2_benefit,seic
0,86072,89,73165,42,71830,34,39751,98,46686,51,70891,53,Eligible,43,Eligible,62.8
1,75920,44,8676,71,54466,57,45360,97,60792,61,78283,52,Non-Eligible,95,Non-Eligible,66.0
2,22970,95,17161,100,51961,69,32700,36,87986,63,31900,36,Eligible,18,Non-Eligible,72.6
3,8706,81,70125,68,26409,54,72371,59,98138,40,5130,57,Eligible,40,Eligible,60.4
4,26059,67,54973,42,37282,55,45790,80,42652,80,6901,20,Eligible,32,Eligible,64.8

In [110]:
seic_error = list(range(500))

for i in range(500):
    if ((df.seic[i] >=70) & (df.seic_benefit[i] >=50000)):
        seic_error[i] = "No Error"
        
    elif ((df.seic[i] >=70) & (df.seic_benefit[i] <=20000)):
        seic_error[i] = "EOE"
        
    elif ((df.seic[i] <=30) & (df.seic_benefit[i] >=50000)):
        seic_error[i] = "EOI"
        
    elif ((df.seic[i] <=30) & (df.seic_benefit[i] <=20000)):
        seic_error[i] = "No Error"
        
    else:
        seic_error[i] = "No Error"
    


df["SEIC ERROR"] = seic_error

len(df)

500

In [111]:
health_error = list(range(500))

for i in range(500):
    if ((df.health[i] >=75) & (df.health_benefit[i] >=40000)):
        health_error[i] = "No Error"
        
    elif ((df.health[i] >=75) & (df.health_benefit[i] <=10000)):
        health_error[i] = "EOE"
        
    elif ((df.health[i] <=25) & (df.health_benefit[i] >=40000)):
        health_error[i] = "EOI"
        
    elif ((df.health[i] <=25) & (df.health_benefit[i] <=10000)):
        health_error[i] = "No Error"
        
    else:
        health_error[i] = "No Error"
        
df["Health ERROR"] = health_error
len(df)

500

In [113]:
housing_error = list(range(500))

for i in range(500):
    if ((df.house[i] >=75) & (df.house_benefit[i] >=40000)):
        housing_error[i] = "No Error"
        
    elif ((df.house[i] >=75) & (df.house_benefit[i] <=10000)):
        housing_error[i] = "EOE"
        
    elif ((df.house[i] <=25) & (df.house_benefit[i] >=40000)):
        housing_error[i] = "EOI"
        
    elif ((df.house[i] <=25) & (df.house_benefit[i] <=10000)):
        housing_error[i] = "No Error"
        
    else:
        housing_error[i] = "No Error"
        
df["House ERROR"] = housing_error
len(df)

500

In [116]:
nutrition_error = list(range(500))

for i in range(500):
    if ((df.nutrition[i] >=75) & (df.nutrition_benefit[i] >=40000)):
        nutrition_error[i] = "No Error"
        
    elif ((df.nutrition[i] >=75) & (df.nutrition_benefit[i] <=10000)):
        nutrition_error[i] = "EOE"
        
    elif ((df.nutrition[i] <=25) & (df.nutrition_benefit[i] >=40000)):
        nutrition_error[i] = "EOI"
        
    elif ((df.nutrition[i] <=25) & (df.nutrition_benefit[i] <=10000)):
        nutrition_error[i] = "No Error"
        
    else:
        nutrition_error[i] = "No Error"
        
df["Nutrition ERROR"] = nutrition_error

In [121]:
livelihood_error = list(range(500))

for i in range(500):
    if ((df.livelihood[i] >=75) & (df.livelihood_benefit[i] >=40000)):
        livelihood_error[i] = "No Error"
        
    elif ((df.livelihood[i] >=75) & (df.livelihood_benefit[i] <=10000)):
        livelihood_error[i] = "EOE"
        
    elif ((df.livelihood[i] <=25) & (df.livelihood_benefit[i] >=40000)):
        livelihood_error[i] = "EOI"
        
    elif ((df.livelihood[i] <=25) & (df.livelihood_benefit[i] <=10000)):
        livelihood_error[i] = "No Error"
        
    else:
        livelihood_error[i] = "No Error"
        

df["livelihood ERROR"] = livelihood_error

In [122]:
education_error = list(range(500))

for i in range(500):
    if ((df.education[i] >=75) & (df.education_benefit[i] >=40000)):
        education_error[i] = "No Error"
        
    elif ((df.education[i] >=75) & (df.education_benefit[i] <=10000)):
        education_error[i] = "EOE"
        
    elif ((df.education[i] <=25) & (df.education_benefit[i] >=40000)):
        education_error[i] = "EOI"
        
    elif ((df.education[i] <=25) & (df.education_benefit[i] <=10000)):
        education_error[i] = "No Error"
        
    else:
        education_error[i] = "No Error"
        

df["Education ERROR"] = education_error

In [125]:
scheme1_error = list(range(500))

for i in range(500):
    if ((df.scheme1[i] >=80) & (df.scheme1_benefit[i] == "Eligible")):
        scheme1_error[i] = "No Error"
        
    elif ((df.scheme1[i] >=80) & (df.scheme1_benefit[i] == "Non-Eligible")):
        scheme1_error[i] = "EOE"
        
    elif ((df.scheme1[i] <=20) & (df.scheme1_benefit[i] == "Eligible")):
        scheme1_error[i] = "EOI"
        
    elif ((df.scheme1[i] <=20) & (df.scheme1_benefit[i] == "Non-Eligible")):
        scheme1_error[i] = "No Error"
        
    else:
        scheme1_error[i] = "No Error"
        

df["Scheme-1 ERROR"] = scheme1_error

In [127]:
scheme2_error = list(range(500))

for i in range(500):
    if ((df.scheme2[i] >=80) & (df.scheme2_benefit[i] == "Eligible")):
        scheme2_error[i] = "No Error"
        
    elif ((df.scheme2[i] >=80) & (df.scheme2_benefit[i] == "Non-Eligible")):
        scheme2_error[i] = "EOE"
        
    elif ((df.scheme2[i] <=20) & (df.scheme2_benefit[i] == "Eligible")):
        scheme2_error[i] = "EOI"
        
    elif ((df.scheme2[i] <=20) & (df.scheme2_benefit[i] == "Non-Eligible")):
        scheme2_error[i] = "No Error"
        
    else:
        scheme2_error[i] = "No Error"
        

df["Scheme-2 ERROR"] = scheme2_error

In [132]:
#rearranging column names

df = df[["seic","seic_benefit","SEIC ERROR","health","health_benefit","Health ERROR",
"house","house_benefit" ,"House ERROR",
"nutrition","nutrition_benefit", "Nutrition ERROR",
"livelihood","livelihood_benefit" , "livelihood ERROR",
"education","education_benefit" , "Education ERROR",
"scheme1","scheme1_benefit","Scheme-1 ERROR",
"scheme2","scheme2_benefit","Scheme-2 ERROR"]]

In [133]:
df.to_csv("random5.csv",index=False)

In [134]:
df2 = pd.read_csv("random5.csv")
len(df2)

500

In [135]:
df2

,seic,seic_benefit,SEIC ERROR,health,health_benefit,Health ERROR,house,house_benefit,House ERROR,nutrition,...,livelihood ERROR,education,education_benefit,Education ERROR,scheme1,scheme1_benefit,Scheme-1 ERROR,scheme2,scheme2_benefit,Scheme-2 ERROR
0,62.8,86072,No Error,89,73165,No Error,42,71830,No Error,34,...,No Error,51,70891,No Error,53,Eligible,No Error,43,Eligible,No Error
1,66.0,75920,No Error,44,8676,No Error,71,54466,No Error,57,...,No Error,61,78283,No Error,52,Non-Eligible,No Error,95,Non-Eligible,EOE
2,72.6,22970,No Error,95,17161,No Error,100,51961,No Error,69,...,No Error,63,31900,No Error,36,Eligible,No Error,18,Non-Eligible,No Error
3,60.4,8706,No Error,81,70125,No Error,68,26409,No Error,54,...,No Error,40,5130,No Error,57,Eligible,No Error,40,Eligible,No Error
4,64.8,26059,No Error,67,54973,No Error,42,37282,No Error,55,...,No Error,80,6901,EOE,20,Eligible,EOI,32,Eligible,No Error
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,48.6,98742,No Error,74,72806,No Error,36,21046,No Error,48,...,No Error,64,22496,No Error,80,Non-Eligible,EOE,88,Non-Eligible,EOE
496,59.8,59864,No Error,23,8550,No Error,43,39556,No Error,63,...,No Error,79,54764,No Error,38,Eligible,No Error,15,Eligible,EOI
497,59.8,57695,No Error,46,27416,No Error,78,53691,No Error,46,...,No Error,98,78011,No Error,38,Eligible,No Error,34,Eligible,No Error
498,56.4,73539,No Error,60,79211,No Error,39,71169,No Error,52,...,No Error,56,40690,No Error,25,Non-Eligible,No Error,19,Non-Eligible,No Error
499,48.6,14679,No Error,24,16078,No Error,93,29750,No Error,12,...,No Error,44,15183,No Error,20,Non-Eligible,No Error,51,Eligible,No Error